<h1>Created learning material:</h1>
<article>
  <h3>Topic:</h3>
  <p><%= @learning_material.topic %></p>

  <h3>Source:</h3>
  <p><%= @learning_material.source %></p>

  <h3>Description:</h3>
  <p><%= @learning_material.description %></p>

  <h3>Level:</h3>
  <p><%= @learning_material.level %></p>

  <h3>Added at:</h3>
  <p><%= date_format(@learning_material.created_at) %></p>
</article>

<%= link_to 'Back', learning_materials_path, {class: 'btn btn-default'} %>