<h1>Lessons</h1>

<table class="table">
  <tr>
    <th>Title:</th>
    <th>Chapter:</th>
    <th>Category:</th>
    <th>Goal:</th>
    <th>Edit:</th>
    <th>Learning materials:</th>
  </tr>

  <% @lessons.each do |lesson| %>
    <tr>
      <td><%= lesson.title %></td>
      <td><%= lesson.chapter %></td>
      <td><%= lesson.category %></td>
      <td><%= lesson.goal %></td>
      <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
      <td><%= link_to 'Learning Materials', lesson_learning_materials_path(lesson) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Add lesson', new_lesson_path, {class: 'btn btn-default'} %></p>

